{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CYOA/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="common title">
        <h1>Quirky Planet</h1>
        <p>By: Emily McBride, Kaelyn Hughes, Carli Mano, Treyson Grange</p>
    </div>
    <div class="image common">
        <img src="{% static 'CYOA/1spaceship.png' %}" alt="tree" id="imagesrc">
    </div>
    <div class="text common" id="story">
        <p id="text"></p>
    </div>
    <div class="decisions common" id="decisions">
        <h1 id="first" class="dec">Sub to change me please</h1>
        <h1 id="second" class="dec">Sub to change</h1>
    </div>


    <script src="{% static 'CYOA/script.js' %}"></script>
</body>
</html>